* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: orange;
    margin: 2rem;
}

#players {
    display: flex;
    margin: 4rem;
    justify-content: space-between;
}

h2 {
    padding: 0 10px 0 10px;
}

#grid-container {
    display: grid;
    border: 1px black solid;
    width: 30rem; 
    height: 30rem;
    margin: 0 auto;
    grid-template-areas: 
    "cell cell cell"
    ;
}

.cell {
    border: 1px solid black;
    width: 10rem;
    height: 10rem;
}

.cell p {
    text-align: center;
    margin-top: 25%;
    font-size: 5rem;
}

.cell:hover {
    cursor: pointer;
}

#results {
    display: none;
    text-align: center;
    margin: 10px 0 10px 0;
}

#results h2 {
  color: red;
  font-size: 3rem;
}

#play-again-btn {
    display: none;
    text-align: center;
}

button {
    margin: 10% 0 10% 0;
}

